.creature-view-container .creature-view-top-pane {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
    margin-bottom: 1rem;
}
.creature-view-top-pane input {
    width: 100%;
}
