.statblock-edit-block
    .statblock-additional-container
    > .additional
    > .setting-item
    .setting-item-name {
    font-size: small;
    font-style: italic;
}
.statblock-edit-block
    .statblock-additional-container
    > .additional
    > .setting-item {
    padding-top: 0rem;
    color: var(--text-muted);
}
.statblock-edit-block .statblock-additional-container > :not(.additional) {
    padding-bottom: 0;
}

.statblock-edit-block .setting-item {
    border: 0;
}

.statblock-edit-block textarea {
    width: 100%;
    resize: vertical;
    overflow: hidden;
}
