:root {
    --statblock-primary-color: #7a200d;
    --statblock-rule-color: #922610;
    --statblock-background-color: #fdf1dc;

    --statblock-bar-color: #e69a28;
    --statblock-bar-border-size: 1px;
    --statblock-bar-border-color: #000;

    --statblock-image-width: 75px;
    --statblock-image-height: 75px;
    --statblock-image-border-size: 2px;
    --statblock-image-border-color: var(--statblock-primary-color);

    --statblock-border-size: 1px;
    --statblock-border-color: #ddd;

    --statblock-box-shadow-color: #ddd;
    --statblock-box-shadow-x-offset: 0;
    --statblock-box-shadow-y-offset: 0;
    --statblock-box-shadow-blur: 1.5em;

    --statblock-font-color: var(--statblock-primary-color);
    --statblock-font-weight: 700;

    --statblock-content-font: "Noto Sans", "Myriad Pro", Calibri, Helvetica,
        Arial, sans-serif;
    --statblock-content-font-size: 14px;

    --statblock-heading-font: "Libre Baskerville", "Lora", "Calisto MT",
        "Bookman Old Style", Bookman, "Goudy Old Style", Garamond,
        "Hoefler Text", "Bitstream Charter", Georgia, serif;
    --statblock-heading-font-color: var(--statblock-font-color);
    --statblock-heading-font-size: 23px;
    --statblock-heading-font-variant: small-caps;
    --statblock-heading-font-weight: var(--statblock-font-weight);
    --statblock-heading-line-height: inherit;

    --statblock-property-line-height: 1.4;
    --statblock-property-font-color: var(--statblock-font-color);
    --statblock-property-name-font-color: var(--statblock-font-color);
    --statblock-property-name-font-weight: bold;

    --statblock-section-heading-border-size: 1px;
    --statblock-section-heading-border-color: var(--statblock-primary-color);
    --statblock-section-heading-font-color: var(--statblock-font-color);
    --statblock-section-heading-font-size: 21px;
    --statblock-section-heading-font-variant: small-caps;
    --statblock-section-heading-font-weight: normal;

    --statblock-saves-line-height: 1.4;

    --statblock-spells-font-style: italic;

    --statblock-subheading-font-size: 12px;
    --statblock-subheading-font-style: italic;
    --statblock-subheading-font-weight: normal;

    --statblock-table-header-font-weight: bold;

    --statblock-traits-font-weight: bold;
    --statblock-traits-font-style: italic;

    --statblock-link-style: italic;
}

.statblock-detached {
    position: absolute;
    top: -9999px;
    /* top: 20px;
    left: 50%;
    transform: translateX(-50%); */
    width: auto;
}



.statblock-item-container {
    margin-bottom: 0.25rem;
}
.statblock-item-inline {
    display: flex;
    justify-content: space-between;
}
