@import "./main.css";
@import "./settings/settings.css";
@import "./layouts/fate\ core/fate-core.scss";
@import "./layouts/pathfinder 2e/xCSS/pf2e.css";
@import "./layouts/13th age/monster/xCSS/13th-age-monsters.css";
@import "./layouts/BnB/xCSS/Bunkers-and-Badasses.css";
@import "./combatant/combatant.css";
