# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Node.js Package

on:
    workflow_dispatch:
    release:
        types: [created]

jobs:
    publish-npm:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: 20
                  registry-url: https://registry.npmjs.org/
            - name: Install
              run: npm ci
            # - run: npm test
            - name: Build
              run: npm run build --if-present
            - run: npm whoami
              env:
                  NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
            - run: npm publish --scope=@javalent --access=public
              env:
                  NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
